//CODIGO DE INTERFAZ GRAFICA EN JAVA
import controlP5.*;
//import controlPS library
import processing.serial.*;

Serial port;
ControlP5 cp5;
 PFont font;


void setup(){ //same as arduino program
  
  size(300,400); //windows size (width,height)
  
  printArray(Serial.list());
  
  port = new Serial(this,"COM5", 9600);
  
  //lets add buton to emoty window
  
  cp5 = new ControlP5(this);
  
font = createFont("calibri light", 20);   //custom fonts for buttons and title
  
  cp5.addButton("red")        //red is the name button
    .setPosition(100,50)    //x and y coordinates of upper left corner of btton
    .setSize(100,70)      //(width, height)
    .setFont(font)
  ;
  
  cp5.addButton("yellow")        //red is the name button
    .setPosition(100,150)    //x and y coordinates of upper left corner of btton
    .setSize(100,70)      //(width, height)
    .setFont(font)    

  ;

  cp5.addButton("blue")        //red is the name button
    .setPosition(100,250)    //x and y coordinates of upper left corner of btton
    .setSize(100,70)      //(width, height)
    .setFont(font)
  ;    
  
  cp5.addButton("alloff")        //red is the name button
    .setPosition(100,350)    //x and y coordinates of upper left corner of btton
    .setSize(100,70)      //(width, height)
    .setFont(font)
  ;
}

void draw(){  //same as loop in arduino

  
  background(150,0,150);  //background color of window
  
  
  //lets give title to our window
  fill(0,255,0);      //text color (r,g,b)
  textFont(font);
  text("LED CONTROL", 100,30);  //*text control, x coordinate y coordinat
  
}

//Lets add some functions to our buttons

void red(){
  port.write('r');
}
void yellow(){
  port.write('y');
}
void blue(){
  port.write('b');
}
void alloff(){
  port.write('f');
}




//CODIGO DE ENCENDIDO Y APAGADO DE LED'S DE ARDUINO
void setup() {

  pinMode(10,OUTPUT);  //set pin as output, blue led
  pinMode(10,OUTPUT);  //set pin as output, red led
  pinMode(10,OUTPUT);  //set pin as output, yellow led

  Serial.begin(9600);
  
}

void loop() {

  if(Serial.available()){

      char val = Serial.read();

      if(val == 'r'){
        digitalWrite(11, HIGH);
              
      }
      if(val == 'b'){
        digitalWrite(10, HIGH);
              
      }

      if(val == 'y'){
        digitalWrite(12, HIGH);
              
      }
      if(val == 'f'){
        digitalWrite(10, LOW);
        digitalWrite(11, LOW);
        digitalWrite(12, LOW);      
      }
  }
}
